<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding><!-- 设置消息传输大小-->
        <binding name="NoneSecurity" maxBufferPoolSize="12000000" maxReceivedMessageSize="12000000" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="12000000" maxArrayLength="12000000" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- maxConcurrentCalls - 服务中同时存在的最大活动消息数，默认值为 16
               maxConcurrentInstances - 服务中同时存在的InstanceContext的最大数量，默认值为26
               maxConcurrentSessions - 服务中同时存在的最大会话数，默认值为 10 -->
          <serviceThrottling maxConcurrentCalls="80" maxConcurrentSessions="80" maxConcurrentInstances="80" />
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="http" port="9999" />
              <add scheme="https" port="9999" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Servers.svc" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: {95DC4B73-88AA-453C-B936-7353493D20E9}-->